@let(xData = $props.get('xData', '{}'))

<table x-data="{{ xData }}">
  <thead>
    <tr>
      <th>#</th>
      <!--Name + image-->
      <th>Name</th>
      <th>Cost</th>
      <th>Evolution</th>
      <th>Rarity</th>
    </tr>
  </thead>
</table>
