<table>
  <thead>
    <tr>
      <th>#</th>
      <!--Name + image-->
      <th>Name</th>
      <th>Cost</th>
      <th>Evolution</th>
      <th>Rarity</th>
    </tr>
  </thead>

  <tbody x-data="{guesses: $store.guessed_units.guessed}">
    <template x-for="(process, count) in guesses" :key="process.unit.id">
      <tr>
        <td x-text="count + 1"></td>
        <td :class="$guessResultToClass(process.name)" x-text="process.unit.name"></td>
        <td :class="$guessResultToClass(process.cost)" x-text="process.unit.cost"></td>
        <td :class="$guessResultToClass(process.evolution)" x-text="$evolutionToHumanString(process.unit.evolution)"></td>
        <td :class="$guessResultToClass(process.rarity)" x-text="$rarityToHumanString(process.unit.rarity)"></td>
      </tr>
    </template>
  </tbody>
</table>
