@layout()
  <div>
    <div>
      <h1>Daily unit</h1>
      <h3>{{ day.toLocaleString() }}</h3>
    </div>

    <section style="margin-top: 1rem;">
      <p>Select !</p>
      @!select.unit.allUnits({ units: all_units })

      <div>
        @!game.gameTable()
      </div>
    </section>
  </div>
@end
