@let(options = $props.get('units', []))

<div x-data="{open: false, search: ''}">
  <!--The trigger for the dropdown-->
  <label>
    <input
      x-model="search"
      x-on:focus="open = true"
      x-on:focusout="setTimeout(() => open = false, 150)"
    />
  </label>
  <!--The dialog that shows upon clicking on the label / input-->
  <div x-show="open">
    @each(unit in options)
      <template
        x-if="!$store.guessed_units.isUnitInGuessed(unit.id)"
        x-data="{ unit: {{ JSON.stringify(unit) }} , name: '{{ unit.name }}' }"
      >
        <div
          x-on:click="setTimeout(() => {$store.guessed_units.add(unit); search = ''}, 150)"
          x-show="search === '' || name.toLowerCase().includes(search.toLowerCase())"
        >
          @!select.unit.singleUnit({ unit: unit })
        </div>
      </template>
    @end
  </div>
</div>
